<form role="form" class="" action="/login" method="POST">
    <link href="styles/styles.css" rel="stylesheet" type="text/css" />
    <h2 CLASS="text-primary" id ="headTab">Login</h2>

    <div class="form-group">

        <div class="col-xs-4">
            <H3 class="text-primary"> Username:</H3><br>

            <input type="text" name="username" ng-model="username" class="form-control col-sm-2">
            <br>

            <h3 class="text-primary"> Password:</H3><br>

            <input type="text" name="password" ng-model="password" class="form-control col-sm-2">
            <br>
            <a href="#/verify" class="button">Submit</a>

            
        </div>
    </div>
</form>