<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">Doodie</h1>

            <button type="button" class="btn btn-success">Friend Me!</button>  <button type="button" class="btn btn-info">Send me a message</button>
            <br>
        </div>
        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="../public/images/doodie.jpg"></a>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> 2.13.2014</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Real name</strong></span> Joseph
                    Doe</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Role: </strong></span> Lurker

                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Favorite Games
                </div>
                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> Hearthstone

                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">Facebook
                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading">About Doodie</div>
                <div class="panel-body"> <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Games Currently Playing</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img width="272" height="150" src="../public/images/272x150.jpg">
                                <div class="caption">
                                    <h3>
                                        HearthStone
                                    </h3>
                                    <p>
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img width="272" height="150" src="../public/images/272x150.jpg">
                                <div class="caption">
                                    <h3>
                                        CS:GO
                                    </h3>
                                    <p>
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img width="272" height="150" src="../public/images/272x150.jpg">
                                <div class="caption">
                                    <h3>
                                        World Of Warcraft
                                    </h3>
                                    <p>
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div></div>

        <div id="push"></div>
    </div>
    <script src="/plugins/bootstrap-pager.js"></script>
</div>